<% if @passed_24_hours %>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left mr-10">
      <h1 class="text-5xl font-bold ml-5"><%= @question.title%></h1>
      <h1 class="text-2xl font-bold mt-2 ml-5">とは何？</h1>
    </div>
    <%= form_with model: @answer, class: "card flex-shrink-0 w-full max-w-md shadow-2xl bg-base-100" do |form| %>
        <div class="card-body">
          <div class="form-control">
            <%= form.text_area :content, placeholder: "出来るだけ自分の言葉で説明してください", class: "focus:ring focus:ring-white border border-white", style: "height: 200px;" %>
          </div>
            <%= form.hidden_field :question_id, value: @question.id%>
          <div class="form-control mt-6">
            <%= form.submit "回答する", type: "submit", class: "btn btn-primary rounded hover:bg-gray-500 hover:border-gray-500" %>
          </div>
        </div>
    <% end %>
    </div>
  </div>
</div>
<% else %>
<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div class="text-center lg:text-left mr-10">
      <% if @last_answer%>
        <h1 class="text-2xl font-bold mt-2 ml-5 mb-1">次の回答は</h1>
        <h1 class="text-5xl font-bold ml-5"><%= (@last_answer.created_at + 1.days).to_s(:datetime_jp) %></h1>
        <h1 class="text-2xl font-bold mt-2 ml-5">までお待ちください</h1>
      <% end %>
    </div>
    </div>
  </div>
</div>
<% end %>
